<%- include("../../partials/header") %>
<div class="container">
  <h2 class="mb-3 mt-5">Categorias
  </h2>
  <a href="/admin/categories/new" class="btn btn-primary mb-5">Cadastrar Nova Categoria</a>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Slug</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach((category)=>{ %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= category.title %></td>
          <td><%= category.slug %></td>
          <td>


            <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-outline-primary btn-sm" type="submit" value="Edit">Edit</a>
            <form id="deleteCategory" style="display: inline;" method="POST" action="/categories/delete">
              <input type="hidden" name="id" value="<%= category.id%>">
              <input class="btn btn-danger btn-sm" type="submit" value="Delete"></form>

          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</div>
<%- include("../../partials/footer") %>
<script>
  const categories = document.querySelectorAll("#deleteCategory");
  categories.forEach((category) => {
    category.addEventListener("submit", (event) => {
      event.preventDefault();
      let choose = confirm("Deseja deletar essa categoria?");
      if (choose) {
        category.submit();
      }

    });
  });
</script>
